{
  "extends": "@antfu",
  "rules": {
    "@typescript-eslint/no-this-alias": [
      "error",
      {
        "allowDestructuring": false, // Disallow `const { props, state } = this`; true by default
        "allowedNames": [
          "_this"
        ] // Allow `const self = this`; `[]` by default
      }
    ]
  }
}
